@font-face {
    font-family: 'You Blockhead';
    src: url('./fonts/Clash-Royale-Font/YouBlockhead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'You Blockhead', Arial, sans-serif;
    margin: 100px 20px;
    background-image: url('images/loading_screen_the_flood_4k.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

h1, h2 {
    color: #000000; /* Cor do texto */
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4);
    font-family: 'You Blockhead', Arial, sans-serif; 
}

select {
    font-family: 'You Blockhead', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.4);
    border-radius: 5px; 
    padding: 0 10px;
    height: 40px;
    flex: 1; 
}

.form-group {
    color: #000000; /* Cor do texto */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Brilho branco */
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.form-group label {
    margin-right: 10px; 
    width: 150px; 
}

.form-group input {
    font-family: 'You Blockhead', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.4);
    border-radius: 5px; 
    padding: 0 10px;
    height: 40px;
    flex: 1; 
}

.form-group button {
    margin-left: 10px; /* Espaço entre o input e o botão */
    padding: 5px 10px; /* Preenchimento do botão */
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0.25cm; 
    margin-bottom: 20px;
}


th, td {
    background-color: #ffffff;
    padding: 10px;
    text-align: left;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

th {
    background-color: #f2f2f2;
}

section {
    position: relative;
    padding: 30px;
}

.orderBy {
    position: absolute !important; 
    top: 55px !important; 
    right: 40px !important; 
    background-color: #f0f0f0 !important; 
    border: none !important; 
    padding: 8px 12px !important; 
    border-radius: 5px !important; 
    cursor: pointer !important; 
    display: flex !important; 
    align-items: center !important; 
}


/* Estilos base para todos os botões */
button, 
button.add-btn, 
.update-btn, 
.delete-btn {
    font-family: 'You Blockhead', Arial, sans-serif;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    color: white; /* Cor de texto padrão para botões */
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remover borda padrão */
}

/* Estilo específico para o botão de adicionar */
button.add-btn {
    background-color: #ffffff; /* Cor de fundo específica para adicionar */
    color: #333; /* Cor de texto específica para adicionar */
}

/* Estilo específico para o botão de atualizar */
.update-btn {
    background-color: #76c3eb; /* Cor verde para o botão de atualizar */
    margin-right: 5px; /* Espaçamento entre os botões */
    border-radius:  5px 5px 0 0;
}

.update-btn:hover {
    background-color: #4c91d5; /* Cor ao passar o mouse */
}

/* Estilo específico para o botão de excluir */
.delete-btn {
    background-color: #de7596; /* Cor vermelha para o botão de excluir */
    border-radius:  0 0 5px 5px;
}

.delete-btn:hover {
    background-color: #c64f74; /* Cor ao passar o mouse */
}

.chart-container {
    background-color: #ffffff; 
    border: 1px solid #ddd;   
    border-radius: 8px;       
    padding: 20px;             
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    margin: 20px 0;           
}

canvas {
    max-width: 100%;
}
